
@tailwind components;
@tailwind utilities;
@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,300&display=swap');
body {
  margin: 0;
  font-family: 'Roboto Mono'
  
 
}

code {
  
}

.topline{
background: linear-gradient(90deg, rgba(56, 189, 248, 0) 0%, rgba(56, 189, 248, 0) 0%, rgba(232, 232, 232, 0.2) 33.02%, rgba(143, 143, 143, 0.67) 64.41%, rgba(236, 72, 153, 0) 98.93%);
}
.gradient {
  background: linear-gradient(
    268.98deg,
  
    #1f202c 0%,
    #78f0a6 0%,
    #c96161 95.58%
  );
}
.custom-input {
  background-color: #0f1523;
color: white;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;

}
.hidden{
  display: none;
  color: grey;
}
.slate {
  color:rgb(252 253 255 / 94%)
}